.navContainer {
  display: flex;
  flex-direction: column;
}

.navHeader {
  width: 100%;
  height: 75px;
  background-color: salmon;
  border-bottom: 1.5px solid black;
}

.contentContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.contentLinks {
  font-size: 1.3rem;
}

.homeTitleLink {
  padding-top: 1.2rem;
  padding-left: 1.3rem;
  font-weight: bold;
  font-family: fantasy;
  font-size: 1.7rem;
}

.searchBarContainer {
  margin-left: 20rem;
}

.headerRightIcons {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}

.headerRightIcons > ul {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.headerRightIcons > ul > li {
  padding-right: 10px;
}

.faSearchIcon {
  cursor: pointer;
}
.ulForLinks {
  display: flex;
  list-style-type: none;
  position: absolute;
  top: 60px;
}
.ulForLinks > li {
  padding-right: 10px;
}

.shoppingCartCount {
  position: absolute;
  top: 0.2rem;
  right: 3.1rem;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #f8f8f8;
  outline: 1px solid black;
  outline-offset: -1px;
  text-align: center;
}

.contentLinks {
  width: 100%;
  height: 4vh;
  background-color: black;
  color: white;
}
